html,
body {
    padding: 0;
    margin: 0;
}

header {
    font-size: 0;
    background-image: url("../assets/header.jpg");
    background-size: cover;
    height: 600px;
    border-top: 15px solid #2ecc71;
}

header .content,
header .hand-image {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.header .hand-image {
    height: 100%;
}

.header .content {
    position: relative;
    height: 100%;
}

.redes {
    padding: 0;
}

.redes li {
    display: inline-block;
    padding-right: 20px;

}

header .content-info {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header p {
    font-size: 16px;
}

.hand-image {
    position: relative;
}

.hand-image img {
    width: 439px;
    position: absolute;
    bottom: 0;
    left: 20px;
}